<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RAPID PR FMS</title>
    <link rel="icon" href="/img/folder.jpg" type="image/icon type" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="h-screen flex items-center justify-center bg-gray-100">
    <button
      class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600"
    >
      <a href="/list-files/">Enter Files</a>
    </button>
  </body>
</html>
